---
import 'katex/dist/katex.css'
import BaseLayout from './BaseLayout.astro'
import type { PostScheme } from '@/content/config'

interface Props extends Pick<PostScheme, 'title' | 'pubDate' | 'updDate'> {
  frontmatter?: PostScheme
}

const { title, pubDate, updDate } = Astro.props.frontmatter || Astro.props
const pubDateStr = pubDate.toISOString().slice(0, 10)
const updDateStr = updDate?.toISOString()?.slice(0, 10)
---

<BaseLayout {title} description={'TODO'}>
  <div class="flex flex-col gap-4 px-4 md:px-6">
    <h1 class="font-serif text-xl">{title}</h1>
    <p class="text-sm">
      {updDateStr ? `Published on ${pubDateStr} and updated on ${updDateStr}` : `Published on ${pubDateStr}`}
    </p>
    <hr />
    <article class="post flex flex-col gap-4 font-serif">
      <slot />
    </article>
  </div>
</BaseLayout>

<style is:global>
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
</style>
