---
import 'katex/dist/katex.css'
import BaseLayout from './BaseLayout.astro'
import OGBase from '@/components/OGBase.astro'
import OGArticle from '@/components/OGArticle.astro'
import type { PostScheme } from '@/content/config'

interface Props extends Pick<PostScheme, 'title' | 'pubDate' | 'updDate' | 'description' | 'locale'> {
  frontmatter?: PostScheme
}

function dateToStr(date?: Date | string) {
  if (typeof date == 'string') {
    date = new Date(date)
  }
  return date?.toISOString()?.slice(0, 10)
}

const { title, pubDate, updDate, description, locale } = Astro.props.frontmatter || Astro.props
const ogTitle = `${title} | myl7's blog`
const pubDateStr = dateToStr(pubDate)!
const updDateStr = dateToStr(updDate)
---

<BaseLayout {title} {description}>
  <OGBase slot="head" title={ogTitle} {description} type="article" {locale} />
  <OGArticle slot="head" {pubDate} {updDate} />
  <div class="flex flex-col gap-4 px-4 md:px-6">
    <h1 class="font-serif text-xl">{title}</h1>
    <p class="text-sm">
      {updDateStr ? `Published on ${pubDateStr} and updated on ${updDateStr}` : `Published on ${pubDateStr}`}
    </p>
    <hr />
    <article class="post flex flex-col gap-4 font-serif">
      <slot />
    </article>
  </div>
</BaseLayout>

<style is:global>
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
</style>
